body{
    background: url("../images/yoga-pose-3-1024x614.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
   }

   hr{
    border-top: 2px black;
}
*{
    margin: 0%;
    padding: 0%;
}


h1{
    margin-top: 200px;
    margin: 2%;
    
    
    color:black ;
}
h3{
    text-align: center;
}



#form{
    position: absolute;
    top: 80px;
    margin-top: 100px;
    width:450px;
    height:420px;
    box-shadow:0 0 25px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
    /* float:left; */
    padding:10px 50px 0;
  
    margin:2% 27%;
    border-radius:10px
}
label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: solid;
    color:  rgba(9, 5, 15, 0.795);
    margin-top: 100px;
}
input{
   
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 15px;
   font-weight: 500;
    width:450px;
padding:10px;
margin-top:5px;
margin-bottom:5px;
border-radius:5px;
border:1px solid #cbcbcb;
box-shadow:inset 0 1px 2px rgba(0,0,0,0.18);
font-size:16px;
}
button{
    background-color:#FFF;
    border-radius:5px;
    border:none;
    padding:10px 15px;
    color:rgb(0, 0, 0);
    text-shadow:1px 1px 1px #949494;
    text-align: center;
    margin-left: 87px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer; 
}